<ul>
    {{#each features }}
    <li>
        {{#if this.title}}
            <h2>{{@root.__ this.title}}</h2>
        {{/if}}
        <p>{{@root.__ this.description}}</p>
    </li>
    {{/each }}
</ul>