<!doctype html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <title>i18n demo - express with handlebars (hbs) & prefixed routes</title>
    <style type="text/css">
      body, html{
        background-color: #fefefe;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
      body {
        display: grid;
        place-items: center;
      }
      h1{
        font-weight: normal;
      }
      a{
        text-decoration: none;
        color: blue;
      }
    </style>
</head>

<body>   
  {{{ body }}}
</body>

</html>
